.counter {
    border: 1px solid gainsboro;
    background-color: whitesmoke;
    text-align: center;
    padding: 20px;
    width: 50%;
}

.value {
    font-size: 20px;
}

.value h1 {
    font-size: 30px;
}

.buttons{
    display: flex;
}

.buttons input {
    margin-right: 5px;
    flex-grow: 1;
    padding: 5px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
}

.red {
    color:red;
}

.green {
    color: green;
}